projet-system/source/Debug/*.o
projet-system/source/Release/
projet-system/source/.*
projet-system/source/*~
projet-system/source/Debug/*~
projet-system/source/Debug/projet-system-tar
projet-system/*~
projet-system/projet-tar/

projet-lisp/source/*~
projet-lisp/source/\#*
projet-lisp/source/.*

